body {
    font-family: "kalpurush";
    background: url(../images/bg5.png);
}
.header{
    background: -webkit-linear-gradient(left,#f03d6e,#6c757d);
    height: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.brand-name{
    background: url('../images/logo.png') no-repeat;
    background-size: 170px 40px;
    width: 170px;
    height: 40px;
    margin: 0px 20px;
    padding: 10px;
}
.brand-name2{
    background: url('../images/logo2.png') no-repeat;
    background-size: auto;
    background-size: 170px 40px;
    width: 170px;
    height: 40px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-2{
    width: 8.33%;
    border: 1px rebeccapurple;
    background: aqua;
    float: left;
}
.col-md-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-md-7{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-md-8{
flex: 0 0 66.666667%;
max-width: 66.666667%;
}
input {
    width: 100%;
}
.flower-2 {
    background: url('../images/flower_2.png') no-repeat;
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
}
.register-logo {
    margin-top: 15px;
    background: url('../images/register.png') no-repeat;
    background-size: 154px 77px;
    width: 154px;
    height: 77px;
}
.login-logo{
    margin-top: 15px;
    margin-left: 20px;
    background: url('../images/login_logo.png') no-repeat;
    background-size: 154px 77px;
    width: 154px;
    height: 77px;
}
.flower {
    margin-top: 25px;
    background:url('../images/flower.png') no-repeat;
    background-size:70px 70px;
    width:70px;
    height:70px;
    display: inline-block;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.text-right {
    text-align: right !important;
}
.card{
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    word-wrap: break-word;
}
.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}
.form-group {
    margin-bottom: 1rem;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 8px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.mb-4 {
    margin-top: 60px !important;
}
@media (max-width: 600px) {
    .login-logo{
        display: none;
    }
    .flower-2{
        display: none;
    }

}
